<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Carrinho de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let bolo of carrinho">
      <ion-item-options side="start">
        <ion-item-option color="warning" (click)="confirmDeleteCart(cake)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-avatar>
          <img [src]="bolo.imagem">
        </ion-avatar>
        <ion-label>{{ bolo.nome }}</ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-item color="danger">Total: {{ total }}</ion-item>

  <div>
       <br/><br/>
      <form>
       
        <ion-title>Dados para Entrega</ion-title>
        <ion-list>
          <ion-item>
             <ion-input type="text" placeholder="Nome"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" placeholder="Rua"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="number" placeholder="Número"></ion-input>
          </ion-item>

          <ion-item>
              <ion-input type="text" placeholder="Cidade"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input type="number" placeholder="CEP"></ion-input>
              </ion-item>
        </ion-list>
      </form>
    </div>
  <ion-button expand="full" fill="solid" (click)="fecharCompra()">
    <ion-icon name="cart"></ion-icon>
    <ion-label>Comprar</ion-label>
  </ion-button>
</ion-content>
