<ion-header>
  <ion-toolbar>
    <ion-title>
      Nossos Bolos
    </ion-title>
    <ion-buttons slot="end">
      <ion-tab-button (click)="abrirCarrinho()">
        <ion-icon name="cart"></ion-icon>
      </ion-tab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let bolo of bolos" (click)="detalhes(bolo)">
    <img [src]="bolo.imagem" />
    <ion-card-content>
      <ion-card-title>
        {{ bolo.nome }}
      </ion-card-title>
      <ion-label slot="end"> 
        <ion-icon name="cash"></ion-icon>
        <ion-label> {{ bolo.preco }}</ion-label>
      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
